# Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/

# PyInstaller build files
build/
dist/

# VS Code settings
.vscode/
*.code-workspace


# test files
templates/3DED_Southampton.json

# GitHub workflows
.github/